{% extends "homepage.html"%}


{% block body %}
{%include "navbar.html" %}


<body>
   
    <div class="container">
      <div class="conteudo">
        {% for foto in fotos %}
         <!--pelo click na foto entra no perfil-->
            <a href="{{url_for('perfil',id_usuario=foto.id_usuario)}}" class="bloco-imagem">
             <!--mostra as fotos carregadas no feed-->
                <img src="{{url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}" alt="Pinterest 1" />
            </a>
        {% endfor %}
        
        
      </div>
    </div>
  </body>

  <h1>Feed principal</h1>



   
   
</a>


{%endblock%}






